$base:'candy-mob';
$button:'#{$base}-button';
$form:'#{$base}-form';
$field:'#{$base}-field';
$input:'#{$base}-input';
$pass-word:'#{$base}-pass-word';

$wave:'#{$base}-wave';
$wave-ripple:'#{$wave}__circle-ripple';

$layer:'#{$base}-layer';
$toast:'#{$base}-toast';