$base:'candy-mob';
$button:'#{$base}-button';
$form:'#{$base}-form';
$field:'#{$base}-field';
$input:'#{$base}-input';
$selectField:'#{$base}-form-select';
$submitButton:'#{$base}-submit-button';
$pass-word:'#{$base}-pass_word';

$wave:'#{$base}-wave';
$wave-ripple:'#{$wave}-ripple';

$scroll:'#{$base}-scroll';

$touch:'#{$base}-touch';
$layer:'#{$base}-layer';
$pull:'#{$base}-pull';
$toast:'#{$base}-toast';
$confirm:'#{$base}-confirm';
$action:'#{$base}-action';
$drawer:'#{$base}-drawer';

$list:'#{$base}-list';
$listItem:'#{$base}-list_item';

$select:'#{$base}-select';