$base:'candy-mob';
$button:'#{$base}-button';
$form:'#{$base}-form';
$field:'#{$base}-field';
$input:'#{$base}-input';
$pass-word:'#{$base}-pass-word';

$wave:'#{$base}-wave';
$wave-ripple:'#{$wave}__circle-ripple';

$scroll:'#{$base}-scroll';

$layer:'#{$base}-layer';
$pull:'#{$base}-pull';
$toast:'#{$base}-toast';
$confirm:'#{$base}-confirm';
$action:'#{$base}-action'