@import "../name-space";
@import "../fn";
.#{$field}{
  font-size: 28px;
  padding: 10px 40px;
  &__inner{
    @include line-bottom;
    textarea,input{
      color:#333;
      border: none;
      padding: 25px 6px;
      box-sizing: border-box;
      font-size: 28px;
      width: 100%;
      background: transparent;
      line-height:40px;
      &:focus {
        outline: none;
      }
    }
    .#{$switch}{
      padding: 25px 6px;
    }
    .font-number{
      color: #ff8831;
      font-size: 24px;
      opacity: 0;
      display: block;
      text-align: right;
    }
    textarea{
      resize: none;
    }
    .#{$selectField}{
      padding: 25px 6px;
      line-height:40px;
      &__placeholder{
        color:#999;
      }
    }
    &:before{
      content:'';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2PX;
      transform: scaleX(0);
      transition: transform 500ms cubic-bezier(0.23,1,0.32,1);
      background-color: #ff8831;
    }
  }
  &__label{
    @include ellipsis();
  }
  &__msg{
    margin: 5px 0 0 0;
    color:rgb(244, 67, 54);
    min-height: 40px;
  }
  &--active{
    .#{$field}__inner{
      .font-number{
        opacity: 1;
      }
      &:before{
        transform: scaleX(1);
      }
    }
    .#{$field}__label{
      color:#ff8831;
    }
  }
}