@import "../name-space";

.#{$layer}{
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  z-index: 999;
  &__cover,.#{$layer}__cover_touch{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
  }
  &__content:before{
    @extend .#{$layer}__cover;
    content:'';
    display: block;
    background-color: rgba(0,0,0,0.3);
    pointer-events: none;
  }
  &--animate{
    &-enter{
      opacity: 0;
      transition: opacity 300ms;
    }
    &-enter-active{
      opacity: 1;
    }
    &-leave{
      opacity: 1;
      transition: opacity 300ms;
    }
    &-leave-active {
      opacity: 0;
    }
  }
}
